<?xml version="1.0"?>
<!--
/**
 *
 * @author     Shailesh Parsana <shaileshparsana@gmail.com>
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogImportExport\Model\Import\Product\CategoryProcessor" type="Srp\ExtendsImport\Model\Import\Product\CategoryProcessor" />
</config>
